header {

}

header nav {
	display: flex;
	justify-content: flex-end;
	padding: 30px;
}

header p {
	margin: 20px;
}

header h1 {
	padding: 15px;

	
}

.jumbotron {
	display: flex;
	align-items: center;
	background-image: url("flower-garden.jpg");
	background-size: cover;
	height: 500px;
	color: white;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}