
header {

}

header nav {
	display: flex;
	justify-content: flex-end;
	padding: 45px;
}

header p {
	margin: 20px;
}

header h1 {
	padding: 20px;

	
}

header .row form {
	padding: 50px;
	
}

header .row form .input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

header .row form input[type=text]:focus {
    width: 100%;
}

.jumbotron {
	display: flex;
	align-items: center;
	background-image: url("flower-garden.jpg");
	background-size: cover;
	height: 500px;
	color: white;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer {
	display: flex;
	justify-content: center;
}