header {

}

header nav {
	display: flex;
	justify-content: flex-end;
	padding: 30px;


}

header p {
	margin: 20px;
}

header h1 {
	padding: 15px;

	
}

.jumbotron {
	display: flex;
	align-items: center;
	background-image: url('http://94.136.40.103/~breezyknees.co.uk/wp-content/uploads/2014/11/garden-july14-0821.jpg')
	background-size: cover;
}