
header {

}

header nav {
	display: flex;
	justify-content: flex-end;
	padding: 45px;
}

header p {
	margin: 20px;
}

header h1 {
	padding: 20px;

	
}

header .row form {
	padding: 50px;
	
}

header .row form .input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

header .row form input[type=text]:focus {
    width: 100%;
}

.jumbotron {
	display: flex;
	align-items: center;
	background-image: url("images/flower-garden.jpg");
	background-size: cover;
	height: 500px;
	color: white;
}

section .row img { 
  margin: 0 0 30px;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}